<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<description>kasse</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:spring/dao.xml;
			classpath:spring/remote.xml;
			classpath:spring/service.xml
	  		</param-value>
	</context-param>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Document Servlet</servlet-name>
		<servlet-class>basar.web.DocumentServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Document Servlet</servlet-name>
		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>cashpointRemoteServiceExporter</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cashpointRemoteServiceExporter</servlet-name>
		<url-pattern>/remoting/CashpointRemoteService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>basar.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

</web-app>
